.Register {
    width: 90%;
    height: 400px;
    background: var(--primary-theme);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.Register .Content {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

.Register .Content img {
    width: 100%;
    margin: 0 auto;
}

.Register .Content .MethodToggler {
    color: grey !important;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.MethodToggler:hover {
    font-weight: 500;
}