.Register {
    width: 90%;
    height: fit-content;
    background: var(--primary-theme);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.Register .Content {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    position: relative;
}

.Register .Content .Logo {
    background: url('../../assets/logo.png') no-repeat 50% 50%;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background-size: cover;
}

.Register .RegisterForm {
    margin-top: -50px;
}

.Register .RegisterForm h2 {
    text-align: center;
}

.Register .RegisterForm .Form .InputArea {
    width: 100%;
}

.Register .RegisterForm .Feedback {
    width: 100%;
    text-align: center;
    color: crimson;
}

.Register .Content .MethodToggler {
    color: grey;
    cursor: pointer;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
}

.MethodToggler:hover {
    font-weight: 500;
}

@media screen and (min-width: 700px) {
    .Register .Content .RegisterForm h2 {
        font-size: 2.5rem;
    }
    .Register .Content .RegisterForm .Feedback {
        font-size: 1.7rem;
    }
    .Register .Content .MethodToggler {
        font-size: 1.7rem;
    }
    .Form input {
        height: 80px;
        font-size: 2.2rem;
    }
    .Form .InputArea svg {
        font-size: 3.8rem;
    }
    .Form p {
        font-size: 1.7rem;
    }
    .Form button {
        font-size: 2rem;
        height: 60px;
    }
    .Form .SpinnerResizer {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 1000px) {
    .Register .Content .RegisterForm h2 {
        font-size: 3.5rem;
    }
    .Register .Content .RegisterForm .Form input {
        height: 85px;
        font-size: 2.7rem;
    }
    .Register .Content .RegisterForm .Form p, 
    .Register .Content .RegisterForm .Feedback, 
    .Register .Content .MethodToggler {
        font-size: 2rem;
    }
    .Form button {
        font-size: 2.3rem;
        height: 70px;
    }
    .Form .SpinnerResizer {
        width: 50px;
        height: 50px;
    }
}